*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(../image/file.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    height: 50px;
    width: 100%;
    background-color: #704214;
}
.sidebar{
    height: 730px;
    width: 70%;
    background-color: rgba(28, 28, 28, 0.4);
    margin-top: 10px;
    margin-left: 15%;
}